<%= form_for(starred_deal) do |f| %>
  <% if starred_deal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(starred_deal.errors.count, "error") %> prohibited this starred_deal from being saved:</h2>

      <ul>
      <% starred_deal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :deal_id %>
    <%= f.number_field :deal_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
